// .display {
//   background-color: darkgray;
//   position: static;
//   width: 100%;
//   height: 100%;
//   flex: 1;
//   overflow: auto;
//   min-height: 0; 
// }

.display {

  flex: 1;
  background: #740f0f;
  padding: 20px;
}