$primary-bg: #1b1b1b;
$page-bg: #F8F9FA;
$decorative-text: #823eb7;
$primary-fonts:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$secondary-fonts: "Poppins", sans-serif;