@use "../../styles/variables" as *;

.navbar {
  background-color: $primary-bg;
  display: flex;
  position: relative;
  width: 200px;
  min-width: 200px;
  border-right: 3px solid black;
  justify-content: center;
  
  ul {
    position: relative;
    top:35px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 70%;
    gap: 100px;
  }
  
  @mixin li($frame-color) {
    list-style: none;
    height: 100px;
    width: 100px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1.5px solid $frame-color;
    z-index: 0;

    /* frame logic*/
     &:hover {
      filter: drop-shadow(0 0 10px $frame-color) drop-shadow(0 0 20px $frame-color) drop-shadow(0 0 30px $frame-color);
      z-index: 1;
      scale: 1.25;
      a {
        font-weight: 500;
        // filter: drop-shadow(0px 0px 10px aliceblue);
      }
    }

    &::after {
      content: "";
      position: absolute;
      background: $primary-bg;
      transform: rotate(45deg);
      transition: 0.75s;
      inset: -15%;
      z-index: 1;
    }

    &:hover::after {
      background-color: $primary-bg;
      transform: rotate(0deg);
      transition: 0.5s;
      inset: 100%;
    }
    /* end frame logic*/ 
  }

  .li-red {
    @include li(red)
  }
  .li-blue {
    @include li(#2483ff)
  }
  .li-green {
    @include li(green)
  }
  .li-yellow {
    @include li(yellow)
  }

  a {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: aliceblue;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 3.5px;
    text-transform: uppercase;

  }
}