// skills.module.scss
@use "../../styles/variables" as *;

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $page-bg;
  width: 100%;
  height: calc(100vh - 40px - 5vh);

  .skillsTree {
  font-family: $primary-fonts;
  background: $page-bg;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow-y: auto; 
  scrollbar-width: thin;
  scrollbar-color: $decorative-text $page-bg;
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: linear-gradient(180deg, #f5f6fa 0%, $page-bg 100%);
    border-radius: 8px;
    margin: 5px 0;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, $decorative-text 0%, $primary-bg 100%);
    border-radius: 8px;
    border: 2px solid $page-bg;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    
    &:hover {
      background: linear-gradient(90deg, darken($decorative-text, 10%) 0%, darken($primary-bg, 10%) 100%);
    }
  }


  h1 {
  font-family: $secondary-fonts;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(90deg, $primary-bg, $decorative-text);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 3px 1px white);
  z-index: 1;
  text-align: center;
  }

  .treeList {
  list-style: none;
  padding: 0;
  }

  .treeNode {
  margin: 1rem 0;
  }

  .category {
  text-shadow: 0 0 0.5px #333;
  font-size: 1.2rem;
  font-weight: 600;
  color: $decorative-text;
  padding: 0.5rem;
  position: relative;
  background: linear-gradient(to right, #f5f6fa 0%, #ffffff 100%);
  border-left: 4px solid $decorative-text;
  }

  .categoryMarker {
  margin-right: 0.5rem;
  color: #7f8c8d;
  font-size: 0.8rem;
  
  }

  .branchList {
  list-style: none;
  padding-left: 1.5rem;
  margin: 0.5rem 0 0;
  }

  .branch {
  padding: 0.4rem 0;
  font-size: 1rem;
  color: #2c3e50;
  position: relative;
  transition: transform 0.2s ease;
  text-shadow: 0 0 0.5px #333;

  &:hover {
    transform: translateX(5px);
    color: $decorative-text;
    font-weight: bold;
  }
  }

.branchMarker {
  margin-right: 0.5rem;
  color: #95a5a6;
}
}
}