// .content {
//   display: grid;
//   grid-template-columns: 200px auto;
//   grid-template-rows: max-content;

// }
@use "../styles/variables" as *;

.layout {
  display: grid;
  grid-template-areas: 
    "header header"
    "navbar content"
    "footer footer";
  grid-template-rows: 40px 1fr 5vh;
  grid-template-columns: 10vw 90vw; 
  min-height: 100vh;

  & > header {
    grid-area: header;
  }
  
  & > nav {
    grid-area: navbar;
    font-size: 1em;
  }
  
  & > main {
    display: flex;
    flex-direction: column;
    grid-area: content;
    p {
      font-size: 18px;
      overflow-wrap: break-word;
    }
    h1 {
      font-size: 32px;
    }
  }
  
  & > footer {
    grid-area: footer;
    min-height: 5vh;
  }
  
}
@media (min-width: 126px) and (max-width: 526px){
  .layout {
    grid-template-rows: 40px 1fr 5vh;
    grid-template-columns: 20vw 80vw; 

    & > nav {
      grid-area: navbar;
      font-size: 0.3rem;
    }
  }
}

@media (min-width: 527px) and (max-width: 768px){
  .layout {
    grid-template-rows: 40px 1fr 5vh;
    grid-template-columns: 20vw 80vw; 

    & > nav {
      grid-area: navbar;
      font-size: 0.6rem;
    }
  }
}
@media (min-width: 769px) and (max-width: 1024px) 
{
  .layout {
    & > nav {
      grid-area: navbar;
      font-size: 0.7rem;
    }
  }
}

